<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- Modal Añadir una Burguer -->

<div class="col-md-4" id="registrarburguer">
	<div class="modal fade" id="aniadirBurguerModal" tabindex="-1" role="dialog" aria-labelledby="aniadirBurguerModal"
		aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-body p-0">
					<div class="card card-plain">
						<div class="card-header pb-0 text-center">
							<h3 class="font-weight-bolder text-info text-danger">Añadir Burguer</h3>
							<p class="mb-0">Introduce los datos para añadir una nueva Hamburguesa</p>
						</div>
						<div class="card-body">
							<form role="form text-left" th:action="@{/nuevaBurguer}" th:object="${nuevaBurguer}"
								method="post" enctype="multipart/form-data">

								<input class="form-control" type=hidden th:field="${nuevaBurguer.id}">

								<div class="row">
									<div class="col-md-4">
										<div class="form-group">
											<label class="col-lg-6 col-form-label form-control-label">Nombre</label>
											<div class="form-group col-md-8">
												<input type="text" class="form-control" required="required"
													th:field="${nuevaBurguer.name}">
												<div class="alert-danger" th:if="${#fields.hasErrors('name')}"
													th:errors="${name}">Name
													Error</div>
											</div>
										</div>
									</div>

									<div class="col-md-4">
										<div class="form-group">
											<label class="col-lg-8 col-form-label form-control-label">Tipo de
												Carne</label>
											<div class="form-group col-md-8">
												<select class="form-control" type="text" required="required"
													th:field="${nuevaBurguer.tipo_carne}">
													<option th:value="${nuevaBurguer.tipo_carne='Ternera'}">Ternera
													</option>
													<option th:value="${nuevaBurguer.tipo_carne='Pollo'}">Pollo</option>
												</select>
												<div class="alert-danger" th:if="${#fields.hasErrors('tipo_carne')}"
													th:errors="${tipo_carne}">Name Error</div>
											</div>
										</div>
									</div>

									<div class="col-md-4">
										<div class="form-group">
											<label class="col-lg-6 col-form-label form-control-label">Gluten</label>
											<div class="form-group col-md-8">
												<select class="form-control" type="text" required="required"
													th:field="${nuevaBurguer.gluten}">
													<option th:value="${nuevaBurguer.gluten='Con Gluten'}">Con Gluten
													</option>
													<option th:value="${nuevaBurguer.gluten='Sin Gluten'}">Sin Gluten
													</option>
												</select>
												<div class="alert-danger" th:if="${#fields.hasErrors('gluten')}"
													th:errors="${gluten}">Name Error</div>
											</div>
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-md-4">
										<div class="form-group">
											<label class="col-lg-8 col-form-label form-control-label">Tipo de
												Queso</label>
											<div class="form-group col-md-8">
												<select class="form-control" type="text" required="required"
													th:field="${nuevaBurguer.tipo_queso}">
													<option th:value="${nuevaBurguer.tipo_queso='Cheddar'}">Cheddar
													</option>
													<option th:value="${nuevaBurguer.tipo_queso='Gouda'}">Gouda</option>
													<option th:value="${nuevaBurguer.tipo_queso='Sin Queso'}">Sin Queso
													</option>
												</select>
												<div class="alert-danger" th:if="${#fields.hasErrors('tipo_queso')}"
													th:errors="${tipo_queso}">Name Error</div>
											</div>
										</div>
									</div>

									<div class="col-md-4">
										<div class="form-group">
											<label class="col-lg-6 col-form-label form-control-label">Lechuga</label>
											<div class="form-group col-md-8">
												<select class="form-control" type="text" required="required"
													th:field="${nuevaBurguer.lechuga}">
													<option th:value="${nuevaBurguer.lechuga='Con Lechuga'}">Con Lechuga
													</option>
													<option th:value="${nuevaBurguer.lechuga='Sin Lechuga'}">Sin Lechuga
													</option>
												</select>
												<div class="alert-danger" th:if="${#fields.hasErrors('lechuga')}"
													th:errors="${lechuga}">Name Error</div>
											</div>
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group">
											<label class="col-lg-6 col-form-label form-control-label">Cebolla</label>
											<div class="form-group col-md-8">
												<select class="form-control" type="text" required="required"
													th:field="${nuevaBurguer.cebolla}">
													<option th:value="${nuevaBurguer.cebolla='Con Cebolla'}"> Con
														Cebolla</option>
													<option th:value="${nuevaBurguer.cebolla='Cebolla a la Plancha'}">
														Cebolla a la Plancha</option>
													<option th:value="${nuevaBurguer.cebolla='Sin Cebolla'}"> Sin
														Cebolla</option>
												</select>
												<div class="alert-danger" th:if="${#fields.hasErrors('cebolla')}"
													th:errors="${cebolla}">Name Error</div>
											</div>
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-md-4">
										<div class="form-group">
											<label class="col-lg-8 col-form-label form-control-label">Tipo de
												Huevo</label>
											<div class="form-group col-md-8">
												<select class="form-control" type="text" required="required"
													th:field="${nuevaBurguer.tipo_huevo}">
													<option th:value="${nuevaBurguer.tipo_huevo='Huevo Frito'}">Huevo
														Frito</option>
													<option th:value="${nuevaBurguer.tipo_huevo='Huevo a la Plancha'}">
														Huevo a la Plancha</option>
													<option th:value="${nuevaBurguer.tipo_huevo='Sin huevo'}">Sin huevo
													</option>
												</select>
												<div class="alert-danger" th:if="${#fields.hasErrors('tipo_huevo')}"
													th:errors="${tipo_huevo}">Name Error</div>
											</div>
										</div>
									</div>

									<div class="col-md-4">
										<div class="form-group">
											<label class="col-lg-6 col-form-label form-control-label">Bacon</label>
											<div class="form-group col-md-8">
												<select class="form-control" type="text" required="required"
													th:field="${nuevaBurguer.bacon}">
													<option th:value="${nuevaBurguer.bacon='Con Bacon'}">Con Bacon
													</option>
													<option th:value="${nuevaBurguer.bacon='Sin Bacon'}">Sin Bacon
													</option>
												</select>
												<div class="alert-danger" th:if="${#fields.hasErrors('bacon')}"
													th:errors="${bacon}">Name Error</div>
											</div>
										</div>
									</div>

									<div class="col-md-4">
										<div class="form-group">
											<label class="col-lg-6 col-form-label form-control-label">Pepinillo</label>
											<div class="form-group col-md-8">
												<select class="form-control" type="text" required="required"
													th:field="${nuevaBurguer.pepinillo}">
													<option th:value="${nuevaBurguer.pepinillo='Con Pepinillo'}">Con
														Pepinillo</option>
													<option th:value="${nuevaBurguer.pepinillo='Sin Pepinillo'}">Sin
														Pepinillo</option>
												</select>
												<div class="alert-danger" th:if="${#fields.hasErrors('pepinillo')}"
													th:errors="${pepinillo}">Name Error</div>
											</div>
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-md-4">
										<div class="form-group">
											<label class="col-lg-6 col-form-label form-control-label">Tomate</label>
											<div class="form-group col-md-8">
												<select class="form-control" type="text" required="required"
													th:field="${nuevaBurguer.tomate}">
													<option th:value="${nuevaBurguer.tomate='Con Tomate'}">Con Tomate
													</option>
													<option th:value="${nuevaBurguer.tomate='Sin Tomate'}">Sin Tomate
													</option>
												</select>
												<div class="alert-danger" th:if="${#fields.hasErrors('tomate')}"
													th:errors="${tomate}">Name Error</div>
											</div>
										</div>
									</div>

									<div class="col-md-4">
										<div class="form-group">
											<label class="col-lg-6 col-form-label form-control-label">York</label>
											<div class="form-group col-md-8">
												<select class="form-control" type="text" required="required"
													th:field="${nuevaBurguer.york}">
													<option th:value="${nuevaBurguer.york='Con York'}">Con York</option>
													<option th:value="${nuevaBurguer.york='Sin York'}">Sin York</option>
												</select>
												<div class="alert-danger" th:if="${#fields.hasErrors('tipo_queso')}"
													th:errors="${tipo_queso}">Name Error</div>
											</div>
										</div>
									</div>

									<div class="col-md-4">
										<div class="form-group">
											<label class="col-lg-6 col-form-label form-control-label">Precio</label>
											<div class="form-group col-md-8">
												<input class="form-control" type="text" required="required"
													th:field="${nuevaBurguer.precio}">
												<div class="alert-danger" th:if="${#fields.hasErrors('precio')}"
													th:errors="${precio}">Name Error</div>
											</div>
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-md-4">
										<div class="form-group">
											<label class="col-lg-12 col-form-label form-control-label">Descripcion</label>
											<div class="form-group col-md-24">
												<textarea cl ass="form-control" type="text" required="required"
													th:field="${nuevaBurguer.descripcion}" rows="3"></textarea>
											</div>
										</div>
									</div>
						
									<div class="col-md-4">
										<div class="form-group">
											<label class="col-lg-6 col-form-label form-control-label" for="img">Imagen</label>
											<div class="form-group col-md-50">
												<input class="form-control" type="file" id="img" name="img"
													th:value="${nuevaBurguer.imagen}">
												<div class="alert-danger" th:if="${#fields.hasErrors('imagen')}"
													th:errors="${imagen}">Name Error</div>
											</div>
										</div>
									</div>
								</div>

								</p>
								</p>

								<div class="text-center">
									<input type="submit" class="btn bg-gradient-warning btn-sm btn-rounded w-40"
										style="float: center;" value="Añadir">
									<a class="btn btn-btn bg-gradient-danger btn-sm btn-rounded w-40" type="button"
										th:href="@{'/nuevaBurguer/cancelar'}">Cancelar</a>

								</div>

								<div class="alert alert-danger text-center" th:if="${formErrorMessage}"
									th:text="${formErrorMessage}">Error Message</div>

							</form>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Fin Modal Añadir una Burguer -->


</html>