<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- Modal editar una Burguer -->

<div class="col-md-4" id="editarburguer">
	<div class="modal fade" id="editarBurguerModal" tabindex="-1" role="dialog" aria-labelledby="editarBurguerModal"
		aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-body p-0">
					<div class="card card-plain">
						<div class="card-header pb-0 text-center">
							<h3 class="font-weight-bolder text-info text-danger">Editar Burguer</h3>
							<p class="mb-0">Selecciona los datos que desea editar de la Hamburguesa</p>
						</div>
						<div class="card-body">
							<form role="form text-left" th:action="@{/editarBurguer}" th:object="${editarBurguer}"
								method="post">

								<input class="form-control" type=hidden th:field="${editarBurguer.id}">

								<div class="row">
									<div class="col-md-4">
										<div class="form-group">
											<label class="col-lg-6 col-form-label form-control-label">Nombre</label>
											<div class="form-group col-md-8">
												<input type="text" class="form-control" required="required"
													th:field="${editarBurguer.name}">
												<div class="alert-danger" th:if="${#fields.hasErrors('name')}"
													th:errors="${name}">Name
													Error</div>
											</div>
										</div>
									</div>

									<div class="col-md-4">
										<div class="form-group">
											<label class="col-lg-8 col-form-label form-control-label">Tipo de
												Carne</label>
											<div class="form-group col-md-8">
												<select class="form-control" type="text" required="required"
													th:field="${editarBurguer.tipo_carne}">
													<option th:value="${editarBurguer.tipo_carne='Ternera'}">Ternera
													</option>
													<option th:value="${editarBurguer.tipo_carne='Pollo'}">Pollo
													</option>
												</select>
												<div class="alert-danger" th:if="${#fields.hasErrors('tipo_carne')}"
													th:errors="${tipo_carne}">Name Error</div>
											</div>
										</div>
									</div>

									<div class="col-md-4">
										<div class="form-group">
											<label class="col-lg-6 col-form-label form-control-label">Gluten</label>
											<div class="form-group col-md-8">
												<select class="form-control" type="text" required="required"
													th:field="${editarBurguer.gluten}">
													<option th:value="${editarBurguer.gluten='Con Gluten'}">Con Gluten
													</option>
													<option th:value="${editarBurguer.gluten='Sin Gluten'}">Sin Gluten
													</option>
												</select>
												<div class="alert-danger" th:if="${#fields.hasErrors('tipo_carne')}"
													th:errors="${tipo_carne}">Name Error</div>
											</div>
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-md-4">
										<div class="form-group">
											<label class="col-lg-8 col-form-label form-control-label">Tipo de
												Queso</label>
											<div class="form-group col-md-8">
												<select class="form-control" type="text" required="required"
													th:field="${editarBurguer.tipo_queso}">
													<option th:value="${editarBurguer.tipo_queso='Cheddar'}">Cheddar
													</option>
													<option th:value="${editarBurguer.tipo_queso='Gouda'}">Gouda
													</option>
													<option th:value="${editarBurguer.tipo_queso='Sin Queso'}">Sin Queso
													</option>
												</select>
												<div class="alert-danger" th:if="${#fields.hasErrors('tipo_queso')}"
													th:errors="${tipo_queso}">Name Error</div>
											</div>
										</div>
									</div>

									<div class="col-md-4">
										<div class="form-group">
											<label class="col-lg-6 col-form-label form-control-label">Lechuga</label>
											<div class="form-group col-md-8">
												<select class="form-control" type="text" required="required"
													th:field="${editarBurguer.lechuga}">
													<option th:value="${editarBurguer.lechuga='Con Lechuga'}">Con
														Lechuga
													</option>
													<option th:value="${editarBurguer.lechuga='Sin Lechuga'}">Sin
														Lechuga
													</option>
												</select>
												<div class="alert-danger" th:if="${#fields.hasErrors('tipo_queso')}"
													th:errors="${tipo_queso}">Name Error</div>
											</div>
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group">
											<label class="col-lg-6 col-form-label form-control-label">Cebolla</label>
											<div class="form-group col-md-8">
												<select class="form-control" type="text" required="required"
													th:field="${editarBurguer.cebolla}">
													<option th:value="${editarBurguer.cebolla='Con Cebolla'}"> Con
														Cebolla</option>
													<option th:value="${editarBurguer.cebolla='Cebolla a la Plancha'}">
														Cebolla a la Plancha</option>
													<option th:value="${editarBurguer.cebolla='Sin Cebolla'}"> Sin
														Cebolla</option>
												</select>
												<div class="alert-danger" th:if="${#fields.hasErrors('tipo_queso')}"
													th:errors="${tipo_queso}">Name Error</div>
											</div>
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-md-4">
										<div class="form-group">
											<label class="col-lg-8 col-form-label form-control-label">Tipo de
												Huevo</label>
											<div class="form-group col-md-8">
												<select class="form-control" type="text" required="required"
													th:field="${editarBurguer.tipo_huevo}">
													<option th:value="${editarBurguer.tipo_huevo='Huevo Frito'}">Huevo
														Frito</option>
													<option th:value="${editarBurguer.tipo_huevo='Huevo a la Plancha'}">
														Huevo a la Plancha</option>
													<option th:value="${editarBurguer.tipo_huevo='Sin huevo'}">Sin huevo
													</option>
												</select>
												<div class="alert-danger" th:if="${#fields.hasErrors('tipo_queso')}"
													th:errors="${tipo_queso}">Name Error</div>
											</div>
										</div>
									</div>

									<div class="col-md-4">
										<div class="form-group">
											<label class="col-lg-6 col-form-label form-control-label">Bacon</label>
											<div class="form-group col-md-8">
												<select class="form-control" type="text" required="required"
													th:field="${editarBurguer.bacon}">
													<option th:value="${editarBurguer.bacon='Con Bacon'}">Con Bacon
													</option>
													<option th:value="${editarBurguer.bacon='Sin Bacon'}">Sin Bacon
													</option>
												</select>
												<div class="alert-danger" th:if="${#fields.hasErrors('tipo_queso')}"
													th:errors="${tipo_queso}">Name Error</div>
											</div>
										</div>
									</div>

									<div class="col-md-4">
										<div class="form-group">
											<label class="col-lg-6 col-form-label form-control-label">Pepinillo</label>
											<div class="form-group col-md-8">
												<select class="form-control" type="text" required="required"
													th:field="${editarBurguer.pepinillo}">
													<option th:value="${editarBurguer.pepinillo='Con Pepinillo'}">Con
														Pepinillo</option>
													<option th:value="${editarBurguer.pepinillo='Sin Pepinillo'}">Sin
														Pepinillo</option>
												</select>
												<div class="alert-danger" th:if="${#fields.hasErrors('tipo_queso')}"
													th:errors="${tipo_queso}">Name Error</div>
											</div>
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-md-4">
										<div class="form-group">
											<label class="col-lg-6 col-form-label form-control-label">Tomate</label>
											<div class="form-group col-md-8">
												<select class="form-control" type="text" required="required"
													th:field="${editarBurguer.tomate}">
													<option th:value="${editarBurguer.tomate='Con Tomate'}">Con Tomate
													</option>
													<option th:value="${editarBurguer.tomate='Sin Tomate'}">Sin Tomate
													</option>
												</select>
												<div class="alert-danger" th:if="${#fields.hasErrors('tipo_queso')}"
													th:errors="${tipo_queso}">Name Error</div>
											</div>
										</div>
									</div>

									<div class="col-md-4">
										<div class="form-group">
											<label class="col-lg-6 col-form-label form-control-label">York</label>
											<div class="form-group col-md-8">
												<select class="form-control" type="text" required="required"
													th:field="${editarBurguer.york}">
													<option th:value="${editarBurguer.york='Con York'}">Con York
													</option>
													<option th:value="${editarBurguer.york='Sin York'}">Sin York
													</option>
												</select>
												<div class="alert-danger" th:if="${#fields.hasErrors('tipo_queso')}"
													th:errors="${tipo_queso}">Name Error</div>
											</div>
										</div>
									</div>
								</div>

								</p>
								</p>

								<!--<div class="text-center">
									<input type="submit" class="btn bg-gradient-warning btn-sm btn-rounded w-40" value="editar">
									<a class="btn btn-btn bg-gradient-danger btn-sm btn-rounded w-40" type="button"
										th:href="@{'/editarBurguer/cancelar'}">Cancelar</a>

								</div>-->
								<div class="text-center">
								<input type="hidden" id="burguerIdHiddenInput" name="burguerIdHiddenInput"/>
								
									<a th:href="@{'/editarBurguer/cancelar/'}"
										class="btn bg-gradient-warning btn-sm btn-rounded w-40">Cancelar</a>
		
									<button type="button" class="btn btn bg-gradient-danger  btn-sm btn-rounded w-40"
										th:onclick="editarBurguer()">editar</button>
								</div>

								<div class="alert alert-danger text-center" th:if="${formErrorMessage}"
									th:text="${formErrorMessage}">Error Message</div>

							</form>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Fin Modal editar una Burguer -->


</html>